html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Helvetica, sans-serif;
}

.bg-darkblue {
    background-color: #123C69;
}

.bg-sandywhite {
    background-color: #ece7e4;
}

.bg-lightsandywhite {
    background-color: #fdf6f3;
}

.bg-darkerlight {
    background-color: #e9ecef;
}

.text-darkerlight {
    color: #e9ecef;
}

.rounded {
    border-radius: 7px;
}

.textright {
    text-align: right;
}

.shiftdown {
    margin-top: 6px;
}

.nomargin {
    margin: 0 !important;
}

.padding {
    padding: 15px;
}

.center {
    margin: auto;
}

/* spacer to push footer to bottom of page if page too short */
.spacer {
    flex: 1;
}

footer {
    width: 100%;
}

.servicelist {
    display: flex;
    flex-wrap: wrap;
}

.servicecard {
    width: 24%;
    margin: 0.5%;
    text-align: center;
    padding: 4px;
    border-style: solid;
    border-radius: 10px;
    height: 110px;
}

.servicecard-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.servicecard-img {
    max-height: 50%;
    max-width: 100%;
}

.link-spanner {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
  
    /* edit: fixes overlap error in IE7/8, 
       make sure you have an empty gif 
    background-image: url('empty.gif');*/
}