html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: montserrat, Helvetica, sans-serif;
    overflow-x: hidden;
}

.navbar {
    box-shadow: none;
}

.h1, h1, h2, h3, h4, h5, h6 {
    font-weight: bold !important;
}

.bg-darkblue {
    background-color: #123C69;
}

.bg-darksandywhite {
    background-color: #dfd9d7;
}

.bg-sandywhite {
    background-color: #ece7e4;
}

.bg-lightsandywhite {
    background-color: #fdf6f3;
}

.bg-darkerlight {
    background-color: #e9ecef;
}

.bg-lightimage {
    background-image: url('../static/background_colored_400px.png');
    background-size: contain;
    background-position: center;
    box-shadow: inset 0 0px 15px 15px #fdf6f3;
}

.bg-image {
    background-image: url('../static/background_colored_400px.png');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    box-shadow: inset 0 0 15px 15px #ece7e4;
}

.text-darkerlight {
    color: #e9ecef;
}

.rounded {
    border-radius: 7px;
}

.textright {
    text-align: right;
}

.shiftdown {
    margin-top: 6px;
}

.nomargin {
    margin: 0 !important;
}

.padding {
    padding: 10px;
}

.center {
    margin: auto;
}

/* spacer to push footer to bottom of page if page too short */
.spacer {
    flex: 1;
}

footer {
    width: 100%;
}

.servicecontainer {
    text-align: center;
}

.servicelist {
    display: flex;
    flex-wrap: wrap;
}

.servicecard {
    width: 24%;
    margin: 0.5%;
    text-align: center;
    padding: 4px;
    border-style: solid;
    border-radius: 10px;
    height: 110px;
}

@media (max-width: 768px) {
    /* CSS that should be displayed if width is equal to or less than 768px goes here */
    .servicecard {
        width: 48%;
        margin: 1%;
    }
    .servicecard-two {
        width: 99% !important;
        margin: 2% 0.5% !important;
    }
}

.servicecard-two {
    width: 48%;
    margin: 1%;
}

.servicecard-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.servicecard-img {
    max-height: 50%;
    max-width: 100%;
}

.link-spanner {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.for-image {
    max-width: 100%;
    max-height: 75px;
}

.for-badge {
    margin-top: 3px;
    margin-bottom: 3px;
}

.for-tab {
    background-color: #ffffff00 !important;
}

.for-tab:hover {
    border-color: #1266f1 !important;
}

.buttoncontainer {
    text-align: center;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    z-index: 10;
    clear: both;
}
  
.indexbutton {
    color: white;
    position: relative;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 0.2em;
    overflow: hidden;
    box-shadow: 0 4px 12px 0 rgba(54, 21, 21, 0.3);
    z-index: -2;
}

.fill {
    position: absolute;
    background-image: linear-gradient(to right, #E040FB, #00BCD4);
    background-size: 150% 150%;
    height: 100px;
    width: 420px;
    border-radius: 5px;
    margin: -80px 0 0 -140px;
    z-index: -1;
    transition: all 0.4s ease;
}

.fill-two {
    background-image: linear-gradient(to right, #00BCD4, #E040FB);
}
  
.buttoncontainer:hover .fill{
    -webkit-animation: gradient 3s ease infinite;
    -moz-animation: gradient 3s ease infinite;
    animation: gradient 3s ease infinite;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.copyimage {
  height: 60%;
  width: auto;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.auth-button {
    margin-top: 2px;
    margin-left: 8px;
    margin-right: 8px;
}

#searchbox {
    width: 100%;
    margin: auto;
}

.profile-referral-link-row {
    text-align: left;
    border-radius: 5px;
    padding: 6px 0px;
    border-style: solid;
    border-width: 2px;
    border-color: #123C69;
    margin-left: 0; /* keep row in middle with rest of content */
    margin-right: 0; /* bootstrap rows have extra neg margins */
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-referral-link-child {
    vertical-align: middle;
    display: table-cell;
    font-weight: bold;
    white-space: nowrap; 
    overflow: auto;
    overflow-y: hidden;
}

.tooltip {
    pointer-events: none;
}

.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* height */
.profile-referral-link-child::-webkit-scrollbar {
    height: 8px;
}
  
/* Track */
.profile-referral-link-child::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 20px;
}

/* Handle */
.profile-referral-link-child::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

/* Handle on hover */
.profile-referral-link-child::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.categorylist {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.categorycard {
    width: 110px;
    height: 110px;
    margin: 5px;
    text-align: center;
    padding: 4px;
    border-style: solid;
    border-radius: 10px;
    background-color: #fcfcfc;
}

.categorycard-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.categorycard-img {
    max-height: 50%;
    max-width: 100%;
}

.topcategory-label:hover {
    color: rgb(216, 216, 216);
}

.link {
    color: inherit;
    text-decoration: none;
}

.link:hover {
    color: inherit;
    text-decoration: none;
}
  
.select2 .select2-search--dropdown {
    padding: 0;
}

.tag-cloud-item a{
    color:inherit;
}

.topbottompadding {
    padding: 30px 0;
}

.topbottompadding-small {
    padding: 15px 0;
}

.socialbutton {
    padding: 2px !important;
}

.accordion-button {
    text-align: left;
}