{% extends "base.html" %}
{% block content %}
<div class="bg-lightsandywhite" style="text-align: center;">
    <div class="container bg-lightimage">
        <br>
        <h1 class="display-5">Referral Link Categories</h1>
        {% include "categories_section.html" %}
    </div>
</div>
<br>
<div class="bg-sandywhite" style="text-align: center;">
    <div class="container">
        <h3 class="text-muted" style="margin-bottom: 15px;">Most Popular for Each Category</h3>
        {% for category, queryset in top_of_categories.items %}
            <div class="row topcategory-row" style="border-color: {{ category.color }}; background-color: {{ category.color }}77;">
                <a href="/category/{{ category.slug }}" class="col-2 col-sm-3 col-md-2 col-lg-1 topcategory-label" style="background-color: {{ category.color }};">
                    <h5 style="margin:0; margin-right:5px;">{{ category.name }}</h5>
                </a>
                <div class="col-10 col-xs-9 col-sm-9 col-md-10 col-lg-11 servicelist">
                    {% for service in queryset %}
                        <div class="servicecard hvr-shadow" id="{{ service.name }}" style="background-color: {{ service.background_color }}; border-color: {{ service.text_color }}; color: {{ service.text_color }};">
                            <img class="servicecard-img" src="{{ service.image.url }}">
                            <h5 class="servicecard-text">{{ service.description }}</h5>
                            <a href="/for/{{ service.slug }}">
                            <span class="link-spanner"></span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}