{% extends "base.html" %}
{% block content %}
  <div class="bg-lightsandywhite" style="text-align: center;">
    <div class="container bg-lightimage topbottompadding">
      <h3>Back to All <a href="/categories">Categories</a></h3>
    </div>
  </div>
  <div class="container topbottompadding-small">
    <div class="container servicecontainer">
        <h3 style="margin-bottom: 15px;">Most Popular for <span style="text-shadow: -1px 0 #4f4f4f;">{{ category }}</span></h3>
        <div class="row">
            <div class="col-md-12 padding rounded servicelist">
                {% for service in category_services %}
                <div class="servicecard hvr-shadow" id="{{ service.name }}" style="background-color: {{ service.background_color }}; border-color: {{ service.text_color }}; color: {{ service.text_color }};">
                  <img class="servicecard-img" src="{{ service.image.url }}" alt="{{ service.name }} logo">
                  <h5 class="servicecard-text">{{ service.description }}</h5>
                  <a href="/for/{{ service.slug }}" aria-label="{{ service.name }} referral link page">
                    <span class="link-spanner"></span>
                  </a>
                </div>
                {% endfor %}
            </div>
        </div>
      </div>
  </div>
{% endblock %}