{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="bg-lightsandywhite" style="text-align: center;">
    <div class="container bg-lightimage topbottompadding">
        <h1 class="display-5"><a class="link" href="/categories">Browse Referral Link Categories</a></h1>
        {% include "categories_section.html" %}
    </div>
</div>
<div class="bg-sandywhite topbottompadding" style="text-align: center;">
    <div class="container">
        <script src="{% static '/wordcloud2.js' %}"></script>
        <div id="my_canvas" class="word_cloud" style="width: 100%; height: 300px;"></div>
        <script>
            var options = {
                weightFactor: function (size) {
                    return (Math.min(size/5, 1.0)*5+1)*15; // min 15, max (1+1)*75 @ 6 tags across services
                },
                backgroundColor: '#ece7e400',
                shrinkToFit: true,
                classes: "tag-cloud-item",
                minRotation: 0,
                maxRotation: 0,
            }
            options.list = {{ words|safe }};
            var canvas = document.getElementById('my_canvas');
            WordCloud(canvas, options);

            canvas.addEventListener('wordcloudstop', function (e) {
                $('.tag-cloud-item').each(function () {
                    console.log("hi");
                    var text = $(this).html();
                    $(this).html('<a href="/categories/' + text + '">' + text + '</a>');
                });
            });
        </script>
    </div>
</div>
<div class="bg-lightsandywhite topbottompadding" style="text-align: center;">
    <div class="container">
        <h3 style="margin-bottom: 15px;">Most Popular for Each Featured Category</h3>
        <div class="servicelist">
        {% for category, queryset in top_of_categories.items %}
        <div class="card bg-sandywhite" style="width: 48%; margin: 1%;">
            <div class="card-header bg-darksandywhite">
                <a href="/categories/{{ category.slug }}">
                    <h4 style="margin:0; margin-right:5px;">{{ category.name }}</h4>
                </a>
            </div>
            <div class="card-body servicelist">
              {% for service in queryset %}
                        <div class="servicecard servicecard-two hvr-shadow" id="{{ service.name }}" style="background-color: {{ service.background_color }}; border-color: {{ service.text_color }}; color: {{ service.text_color }};">
                            <img class="servicecard-img" src="{{ service.image.url }}">
                            <h5 class="servicecard-text">{{ service.description }}</h5>
                            <a href="/for/{{ service.slug }}">
                            <span class="link-spanner"></span>
                            </a>
                        </div>
                    {% endfor %}
            </div>
          </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}