<div style="text-align: center;">
  <h3>Top Referral Link Categories</h3>
  <div class="row">
    <div class="col-md-12 padding categorylist">
      {% for category in categories %}
      <div class="categorycard hvr-shadow" id="{{ category.name }}" style="color: {{category.color}}; border-color: {{ category.color }};">
        <h5 class="categorycard-text">{{ category.name }}</h5>
        <img class="categorycard-img" src="{{ category.image.url }}">
        <a href="/categories/{{ category.slug }}">
          <span class="link-spanner"></span>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>