{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="bg-lightsandywhite" style="text-align: center;">
    <div class="container bg-lightimage topbottompadding">
        <h1 class="display-5">Browse Referral Link Categories</h1>
        <!--{% include "categories_section.html" %}-->
    </div>
</div>
<div class="bg-sandywhite topbottompadding" style="text-align: center;">
    <div class="container">
        <script src="{% static '/wordcloud2.js' %}"></script>
        <h4>Press on a tag to view category</h4>
        <div id="surrounding_div" style="width: 100%; height: 300px; text-align: center;">
            <div id="canvas_cloud" class="word_cloud" style="left: 50%;
            transform: translateX(-50%);"></div>
        </div>
        <script>
            var div = document.getElementById("surrounding_div");
            var canvas = document.getElementById("canvas_cloud");
            canvas.style.height = div.getBoundingClientRect().height + 'px';
            canvas.style.width  = div.getBoundingClientRect().width + 'px';

            var options = {
                weightFactor: function (size) {
                    return Math.floor((Math.min(size/6, 1.0)*2.5+1)*20); // min 20px, max (2.5+1)*20=70px @ 6 tags across services
                },
                backgroundColor: '#ece7e400',
                drawOutOfBound: false,
                shrinkToFit: true,
                classes: "tag-cloud-item",
                minRotation: 0,
                maxRotation: 0,
                abortThreshold: 1000,
            }
            options.list = {{ words|safe }};
            WordCloud(canvas, options);

            canvas.addEventListener('wordcloudstop', function (e) {
                $('.tag-cloud-item').each(function () {
                    var text = $(this).html();
                    $(this).html('<a href="/categories/' + text + '">' + text + '</a>');
                });
            });
        </script>
    </div>
</div>
<div class="bg-lightsandywhite topbottompadding" style="text-align: center;">
    <div class="container">
        <h3 style="margin-bottom: 15px;">Most Popular in Featured Categories</h3>
        <div class="servicelist">
        {% for category, queryset in top_of_categories.items %}
        <div class="card bg-sandywhite" style="width: 48%; margin: 1%;">
            <div class="card-header bg-darksandywhite">
                <a href="/categories/{{ category.slug }}">
                    <h4 style="margin:0; margin-right:5px;">{{ category.name }}</h4>
                </a>
            </div>
            <div class="card-body servicelist">
              {% for service in queryset %}
                        <div class="servicecard servicecard-two hvr-shadow" id="{{ service.name }}" style="background-color: {{ service.background_color }}; border-color: {{ service.text_color }}; color: {{ service.text_color }};">
                            <img class="servicecard-img" src="{{ service.image.url }}" alt="{{ service.name }} logo">
                            <h5 class="servicecard-text">{{ service.description }}</h5>
                            <a href="/for/{{ service.slug }}">
                            <span class="link-spanner"></span>
                            </a>
                        </div>
                    {% endfor %}
            </div>
          </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}