{% extends "base.html" %}
{% block content %}
<div class="bg-lightsandywhite">
    <div class="container" style="text-align: center;">
        <br>
        <div class="row">
            <div class="col-lg-8 col-xl-6 mx-auto">
                <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                <div class="alert alert-primary">
                    <h5>Suggesting a new website, app, or service?</h5>
                    <p style="margin: 0;">Please include the referral program details for both referrer and referee, as well as your own personal referral link or code. Thank you!</p>
                </div>
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{message}}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <h1>Contact Us</h1>
                <form id="contactform" method="post" style="margin-bottom: 30px;">
                    {% csrf_token %}
                    <div>
                        {{ form.subject }}
                    </div>
                    <br>
                    <div>
                        {{ form.message }}
                    </div>
                    <br>
                    <div>
                        <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
                    </div>
                    <br>
                    <div>
                        <button class="btn btn-success" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}