{% extends "base.html" %}
{% block content %}
<div class="container bg-lightsandywhite py-3">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="accordion bg-sandywhite" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header bg-darksandywhite" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      What is ReferralRoulette?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      ReferralRoulette <strong>democratizes the referral sharing process</strong>. Users are able to leave their referral links here to be randomly selected to be used by others. This random referral link generation system allows for a fair and unbiased referral link sharing system, unlike link sharing on forums or websites which only promote the owner's link.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header bg-darksandywhite" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      How does ReferralRoulette select a referral link?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      ReferralRoulette uses a random number generator in order to select a referral link. This is the most fair system for sharing referral links, as the link a user uses isn't dependent on cronological link addition to the system or any other factors.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header bg-darksandywhite" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Don't websites like this already exist?
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Other websites either only promote the owner's link, don't have any structured categorization of links based on app (i.e. many 'Robinhood'), or are simply forums where users share their links, with the first few links being the only ones typically used.
                      <br>
                      ReferralRoulette is the first of it's kind, based on a community of active users.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header bg-darksandywhite" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      How does ReferralRoulette make money?
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      It doesn't, unless you decide to donate!
                      <br>
                      <br>
                      <form action="https://www.paypal.com/donate" method="post" target="_top" style="text-align: center;">
                        <input type="hidden" name="hosted_button_id" value="UMVAGQZNPCVUQ" />
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                      </form>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <!--/row-->
</div>
<!--container-->
{% endblock %}