{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="bg-lightsandywhite">
    <div class="container" style="text-align: center;">
      <div class="row for-section">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <img class="for-image" src="{{ for_service.image.url }}">
            <br>
            <h4>{{ for_service.name }} Referral Link Tags:</h4>
            {% for tag in for_service.tags.all %}
                <a href="/categories/{{ tag.slug }}" class="for-badge badge rounded-pill bg-info text-dark">#{{ tag }}</a>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <h5 style="text-align: left;">{{ for_service.description }}</h5>
            <br>
            <div class="input-group input-group-lg">
                <input class="form-control" value="{{ link }}" type="text" id="link" style="font-weight: bold;" readonly>
                <div class="input-group-append">
                    <button id="copy-button" style="height: 100%;" class="btn btn-outline-secondary" data-clipboard-target="#link" type="button">
                        <span><img src="../static/icons/clipboard.svg" class="copyimage" alt="Copy to clipboard"></span>
                    </button> <!-- possible bug with inspect element changing size exiting copy button svg size -->
                </div>
                <div class="input-group-append">
                    <button onclick="window.open('{{ link }}', '_blank');" id="open-button" style="height: 100%;" class="btn btn-outline-info" data-clipboard-target="#link" type="button">
                        <span><img src="../static/icons/open-link.svg" class="copyimage" alt="Open in new tab"></span>
                    </button> <!-- possible bug with inspect element changing size exiting copy button svg size -->
                </div>
            </div>
            <small id="codeHelp" class="form-text">Copy link or open in a new tab.</small>
            <br>
            <div class="buttoncontainer" onclick="generatenew()">
                <button type="button" class="indexbutton">
                    NEW RANDOM LINK
                    <div class="fill fill-two"></div>
                </button>
            </div>
        </div>
        <div class="col-md-3">
          <div style="text-align: left;">
            <h4>{{ for_service.name }} Referral Link Statistics:</h4>
            <h6>Popularity (clicks): {{ for_service.clicks }}</h6>
            <h6>Users: {{ users }}</h6>
          </div>
          <div>
            <input type="text" style="position: absolute; left: -999em" id="url">
            <button id="copy-button-url" style="height: 60px;" class="btn btn-outline-secondary" data-clipboard-target="#url" type="button">
              <span><img src="../static/icons/clipboard.svg" class="copyimage" alt="Copy to clipboard"><span style="margin-left: 10px; font-weight: bold;">Copy page URL</span></span>
            </button>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
  <br>
  <!-- clipboard -->
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
  <script src="{% static '/clipboard.js' %}"></script>
  <script>
    function generatenew(){
      fetch("/api/generatereferral/{{ for_service.slug }}").then(function(response) {
          response.text().then(function(text) {
            document.getElementById('link').value = text;
          });
      });
    }
  </script>

{% endblock %}