{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="bg-lightsandywhite">
    <div class="container" style="text-align: center;">
      <div class="row for-section">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <img class="for-image" src="{{ for_service.image.url }}">
            <br>
            <h4>{{ for_service.name }} Referral Link Tags:</h4>
            {% for tag in for_service.tags.all %}
                <a href="/category/{{ tag.slug }}" class="for-badge badge rounded-pill bg-info text-dark">#{{ tag }}</a>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <h5 style="text-align: left;">{{ for_service.description }}</h5>
            <br>
            <div class="input-group input-group-lg">
                <input class="form-control" value="{{ link }}" type="text" id="link" style="font-weight: bold;" readonly>
                <div class="input-group-append">
                    <button id="copy-button" style="height: 100%;" class="btn btn-outline-secondary" data-clipboard-target="#room" type="button">
                        <span><img src="../static/icons/clipboard.svg" class="copyimage" alt="Copy to clipboard"></span>
                    </button> <!-- possible bug with inspect element changing size exiting copy button svg size -->
                </div>
                <div class="input-group-append">
                    <button id="copy-button" style="height: 100%;" class="btn btn-outline-secondary" data-clipboard-target="#room" type="button">
                        <span><img src="../static/icons/open-link.svg" class="copyimage" alt="Copy to clipboard"></span>
                    </button> <!-- possible bug with inspect element changing size exiting copy button svg size -->
                </div>
            </div>
            <small id="codeHelp" class="form-text">Copy link or open in a new tab.</small>
            <br>
            <div class="buttoncontainer" onclick="redirect(document.getElementById('code').value)">
                <button type="button" class="indexbutton">
                    NEW RANDOM LINK
                    <div class="fill fill-two"></div>
                </button>
            </div>
        </div>
        <div class="col-md-3" style="text-align: left;">
            <h4>{{ for_service.name }} Referral Link Statistics:</h4>
            <p>Popularity (clicks): {{ for_service.clicks }}</p>
            <p>Active: {{ for_service.active }}</p>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
  <br>
  <!--
  <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static '/for.js' %}"></script>
-->
    <script src="{% static '/clipboard.js' %}"></script>
{% endblock %}