{% extends "base.html" %}
{% block content %}
  {% load static %}
  {% load socialaccount %}
  <div class="bg-lightsandywhite topbottompadding">
    <div class="container" style="text-align: center;">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 padding">
          <a href="/redirect/{{ for_service.slug }}" target="_blank">
            <img class="for-image" src="{{ for_service.image.url }}" style="filter: drop-shadow(0 0 2px {{ for_service.background_color }});">
          </a>
          <br>
          <h4>{{ for_service.name }} Referral Link Tags:</h4>
          {% for tag in for_service.tags.all %}
              <a href="/categories/{{ tag.slug }}" class="for-badge badge rounded-pill bg-info text-light">#{{ tag }}</a>
          {% endfor %}
        </div>
        <div class="col-md-4 padding d-flex align-items-end flex-column">
            <h5 style="text-align: left;">{{ for_service.description }}</h5>
            <br>
            <div class="mt-auto buttoncontainer" onclick="generatenew('{{ for_service.slug }}')">
                <button type="button" class="indexbutton">
                    NEW RANDOM LINK
                    <div class="fill fill-two"></div>
                </button>
            </div>
        </div>
        <div class="col-md-3 padding d-flex align-items-end flex-column">
          <div style="text-align: left;">
            <h5>{{ for_service.name }} Referral Link Statistics:</h5>
            <h6>Popularity (clicks): <span id="clicks">{{ for_service.clicks }}</span></h6>
            <h6>Users: {{ users }}</h6>
          </div>
          <div class="mt-auto" style="margin: auto auto;">
            <input type="text" style="position: absolute; left: -999em" id="url">
            <button id="copy-button-url" style="height: 48px;" class="btn btn-outline-secondary" data-clipboard-target="#url" type="button">
              <span><img src="{% static 'icons/clipboard.svg' %}" class="copyimage" alt="Copy to clipboard"><span style="margin-left: 10px; font-weight: bold;">Copy page URL</span></span>
            </button>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
  <!-- bottom section -->
  <div class="bg-sandywhite topbottompadding">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
          <div class="card bg-lightsandywhite mb-3">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link for-tab active" id="info-tab" data-bs-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">
                    More Info
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link for-tab" id="about-tab" data-bs-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">
                    About {{ for_service.name }}
                  </a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                  <h4 class="card-title">About the {{ for_service.name }} Referral Link</h4>
                  <p class="card-text">{{ for_service.referral_description|safe }}</p>
                </div>
                <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
                  <h4 class="card-title">About {{ for_service.name }}</h4>
                  <p class="card-text">{{ for_service.company_description|safe }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <!-- Related Services Card -->
          <div class="card bg-lightsandywhite mb-3">
            <div class="card-body">
              <h5 class="card-title">Related Services</h5>
              {% for service in related %}
                <h6 class="card-text"><a href="/for/{{ service.slug }}">{{ service.name }}</a></h6>
              {% endfor %}
            </div>
          </div>
          <!-- Popular Categories -->
          <div class="card bg-lightsandywhite mb-3">
            <div class="card-body">
              <h5 class="card-title">Browse Popular Categories</h5>
              {% for category in categories %}
                <div style="padding: 3px;">
                  <img src="{{ category.image.url }}" style="width: 24px; display: inline-block;">
                  <h6 class="card-text" style="display: inline-block; margin-left: 10px;"><a href="/categories/{{ category.slug }}">{{ category.name }}</a></h6>
                </div>
              {% endfor %}
            </div>
          </div>
          <!-- Donate -->
          <div class="card bg-lightsandywhite mb-3">
            <div class="card-body">
              <h5 class="card-title">Support ReferralRoulette!</h5>
              <form action="https://www.paypal.com/donate" method="post" target="_top" style="text-align: center;">
                <input type="hidden" name="hosted_button_id" value="UMVAGQZNPCVUQ" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
  <!-- MODAL -->
  <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content bg-lightsandywhite">
        <div class="modal-header text-center">
          <h5 class="modal-title w-100" id="modalLabel">
            <a href="/redirect/{{ for_service.slug }}" target="_blank">
              <img class="for-image" style="align-self: center; filter: drop-shadow(0 0 2px {{ for_service.background_color }});" src="{{ for_service.image.url }}"></h5>
            </a>
            <button type="button" style="margin-bottom: auto;" class="btn-close close" data-bs-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <div class="modal-body" style="text-align: center;">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <h5 style="text-align: left;">{{ for_service.description }}</h5>
              <br>
              <div class="input-group input-group-lg">
                  <input class="form-control" value="{{ link }}" type="text" id="link" style="font-weight: bold;" readonly>
                  <div class="input-group-append">
                      <button id="copy-button" style="height: 100%;" class="btn btn-outline-secondary" data-clipboard-target="#link" type="button">
                          <span><img src="{% static '/icons/clipboard.svg' %}" class="copyimage" alt="Copy to clipboard"></span>
                      </button> <!-- possible bug with inspect element changing size exiting copy button svg size -->
                  </div>
                  <div class="input-group-append">
                      <button onclick="window.open(document.getElementById('link').value, '_blank');" id="open-button" style="height: 100%;" class="btn btn-outline-info" data-clipboard-target="#link" type="button">
                          <span><img src="{% static '/icons/open-link.svg' %}" class="copyimage" alt="Open in new tab"></span>
                      </button> <!-- possible bug with inspect element changing size exiting copy button svg size -->
                  </div>
              </div>
              <small id="codeHelp" class="form-text">Copy link or open in a new tab.</small>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
        <div class="modal-footer" style="display: block; text-align: center;">
          <div class="row" style="margin: 0 15%;">
            <div class="col-md-4">
              <img src="{% static '/icons/signup.png' %}" style="margin-bottom: 16px; width: 45px;">
              <div class="caption text-center">
                <p class="text-muted" style="font-size: 16px; line-height: 24px;">Sign up at <strong>{{ for_service.name }}</strong> using the referral code above.</p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="{% static '/icons/add-money.png' %}" style="margin-bottom: 16px; width: 45px;">
              <div class="caption text-center">
                <p class="text-muted" style="font-size: 16px; line-height: 24px;">Add your own referral links on <strong>ReferralRoulette</strong> and start earning NOW!</p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="{% static '/icons/socialshare.png' %}" style="margin-bottom: 16px; width: 45px;">
              <div class="caption text-center">
                <p class="text-muted" style="font-size: 16px; line-height: 24px;">Share this page with your friends and family! Fair and random URL selection!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          {% if user.is_authenticated %}
            <a type="button" class="btn btn-secondary" href="/profile">
              Add your own link
            </a>
          {% else %}
            <!-- Log in button -->
            <a type="button" class="btn btn-secondary" href="{% provider_login_url 'google' %}?next={% firstof request.path '/' %}">
              Sign Up Now to earn rewards
            </a>
          {% endif %}
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- clipboard -->
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
  <script src="{% static '/clipboard.js' %}"></script>
  <script src="{% static '/for.js' %}"></script>
{% endblock %}