<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ReferralRoulette</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    

    <!-- JS, Popper.js, and jQuery for Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <script src="https://www.paypal.com/sdk/js?client-id=AWylIyJKwiuyxCjW6IY-eF0WTFG_IWCBGJXxUhBtV351q8tz7KgLUoGy6rKt73Y5PY9t1UYCcekVf_lz"></script>

  </head>
  <body class="bg-darkerlight">
    <!-- START HEADER -->
    <!-- First navbar row -->
    <div class="navbar navbar-default navbar-expand-md navbar-light bg-darkerlight">
      <div class="container">
        <a href="#" class="h1 navbar-brand nomargin">ReferralRoulette</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- links to browse, categories, contact, about-->
        <!-- sign up/log in button-->
      </div>
    </div>
    <!-- Second navbar row -->
    <div class="navbar navbar-default navbar-expand-md navbar-dark bg-success">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- search referral codes -->
        </div>
      </div>
    </div>
    <div class="navbar navbar-expand-md bg-light">
    </div>
    <!-- STOP HEADER -->

    <!-- START PAGE CONTENT -->
    <div id="maincontent" class="container">
    </div>
    <!-- STOP PAGE CONTENT -->

    <!-- START FOOTER -->
    <div class="spacer"></div>
    <footer class="font-small bg-darkblue text-darkerlight">
      <div class="footer-copyright text-center py-3">
        2020
        <b>ReferralRoulette</b>
      </div>
    </footer>
    <!-- STOP FOOTER -->
  </body>
</html>