{% extends "base.html" %}
{% block content %}
<div class="bg-lightsandywhite">
  <div class="container" style="text-align: center;">
    <br>
    <h1 class="display-4">Share all your referral links!</h1>
    <h1 class="display-6 text-muted">Click on a service card to get sent to a random user's referral link!</h1>
    <div class="row">
        <div class="col-md-12 padding rounded servicelist">
            {% for service in services %}
            <div class="servicecard hvr-shadow" id="{{ service.name }}" style="background-color: {{ service.background_color }}; border-color: {{ service.text_color }}; color: {{ service.text_color }};">
              <img class="servicecard-img" src="{{ service.image.url }}">
              <h5 class="servicecard-text">{{ service.description }}</h5>
              <a href="/for/{{ service.slug }}">
                <span class="link-spanner"></span>
              </a>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>
</div>
<br>
{% endblock %}